.menuBar {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 3rem;
}

.menuBar a {
  display: flex;
  align-items: center;

  text-decoration: none;
  color: #f9fafb;

  padding: 12px 15px;

  border-radius: 8px;

  transition: 0.2s ease;
}

.menuBar a svg {
  margin-right: 2rem;
}

.menuBar a:hover {
  color: white;
  color: #9ca3af;

  background-color: #1f2937;
}
